footer {
    width: 100%;
    height: 10vh;

    background: $color-red;

    display: flex;
    align-items: center;
    justify-content: center;
    
    p {
        color: $color-dark-blue;
        text-transform: uppercase;
    }
}