.project__description {
    margin-top: 180px;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;

    img {
        cursor: pointer;
    }

    .project__body {
        p {font-weight: 200;}
    }
}

.project__secondary__img {
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // flex-direction: column;

    a {
        margin: 0px;
        display: flex;
    }

    img {
        // width: 50%;
        width: auto;
        margin: 0px;
        align-self: center !important;
        justify-self: center !important;

        cursor: pointer;

        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0px 0px 0px 5px $color-red;
        }
    }
}