.topbar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    z-index: 10;

    display: block;
    position: fixed;

    background: $color-dark-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    text-transform: uppercase;

    &.sticky {
        padding: 0px 12%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        background: $color-dark-blue;

        transition: flex-direction 0.5s, justify-content 0.5s;

        .topbar__logo {
            margin-bottom: 0px;

            h1 {
                padding: 0px;
            }

            h6 {
                display: none;
            }
        }
    }

    .topbar__logo {
        margin-bottom: 20px;

        h1 {
            padding-top: 10px;
            font-family: $font-secondary;
            font-size: 60px;
            color: $color-yellow;

            span {
                font-weight: bold;
            }
        }

        h6 {
            color: $color-white;
            font-size: 20px;
            white-space: nowrap;

            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: $color-yellow;
            }

            &::before {
                width: 100%;
                height: 1px;
                margin-right: 10px;

                display: inline-block;
                content: "";

                background: $color-white;
            }
            &::after {
                width: 100%;
                height: 1px;
                margin-left: 10px;

                display: inline-block;
                content: "";

                background: $color-white;
            }
        }
    }

    .topbar__nav {
        width: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            padding: 5px 5px;
            margin: 0px 20px;

            display: inline-block;
            position: relative;

            color: $color-white;
            font-weight: 700;

            // background: linear-gradient(to top, $color-white 0%, $color-white 2%, transparent 2.01%) no-repeat center center / 0% 100%;
            // background-size: 0% 100%;

            transition: 0.3s;

            &::after {
                width: 100%; 
                height: 1px;
                top: 100%; left: 0;
                position: absolute;
                content: "";

                background: $color-white;

                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }

            &:hover{
                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            } 
        }
    }
}