{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <!-- All Projects -->
    <section class="section__allproject">
        <div class="section__content">
            {% for project in projects %}
            <a href="{% url 'portfolio:project_detail' project.id project.name %}" class="project__card">
                <img src="{{ project.main_image.url }}">
                <span class="project__name">{{ project.name }}</span>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}