{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al On The Moon</title>

    <!-- Font LINK -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS LINK -->
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
</head>
<body>
    <!-- Topbar -->
    <nav class="topbar">
        <a href="{% url 'portfolio:home' %}" class="topbar__logo">
            <h1><span>Al</span> on the moon</h1>
            <h6><span>Al</span>ice Beslay</h6>
        </a>

        <ul class="topbar__nav">
            <li><a href="{% url 'portfolio:home' %}#projects">Projets</a></li>
            <li><a href="{% url 'portfolio:home' %}#apropos">A propos</a></li>
            <li><a href="{% url 'portfolio:home' %}#contact">Contact</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer>
        <p>&copy; Alice - 2021 / 2022</p>
    </footer>

    <!-- Script -->
    <script src="{% static 'portfolio/js/main.js' %}"></script>
    <script src="{% static 'portfolio/js/lightbox.js' %}" type="module"></script>
</body>
</html>