{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <header>
        <div class="header__container">
            <span class="circle"></span>
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </header>

    <!-- Projects -->
    <section id="projects" class="section__projects">
        <h3 class="section__title">Projets</h3>
        <div class="section__content">
            {% for project in projects %}
                <a href="{% url 'portfolio:project_detail' project.id project.name %}" class="project__card">
                    <img src="{{ project.main_image.url }}">
                    <span class="project__name">{{ project.name }}</span>
                </a>
            {% endfor %}
        </div>
        <a class="projects__link" href="{% url 'portfolio:all_projects' %}">Voir tous les projets</a>
    </section>

    <!-- A propos -->
    <section id="apropos" class="section__apropos">
        <h3 class="section__title">A propos</h3>
        <div class="section__content">
            <div>
                {% if about %}
                    <p>
                        {{ about.description }}
                    </p>
                    <a class="btn btn-red" download="{{ about.cv.url }}" href="{{ about.cv.url }}">Télécharger mon cv</a>
                {% endif %}
            </div>
            <div></div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="section__contact">
        <h3 class="section__title">Contact</h3>
        <div class="section__content">
            {% for contact in contacts %}
                <div>
                    <span><img src="{{ contact.image.url }}">{{ contact.name }}</span>
                    <p>{{ contact.value }}</p>
                </div>
            {% endfor %}
        </div>
        <form method="POST" class="contact__form">
            {% csrf_token %}
            <input name="name" type="text" placeholder="Nom">
            <input name="email" type="email" placeholder="Adresse email">
            <input name="subject" type="text" placeholder="Sujet">
            <textarea name="content" type="text" placeholder="Contenu"></textarea>
            <input class="btn btn-red" type="submit">
        </form>
    </section>
{% endblock content %}