<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al On The Moon</title>

    <!-- Font LINK -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS LINK -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Topbar -->
    <nav class="topbar">
        <a href="/index.html" class="topbar__logo">
            <h1><span>Al</span> on the moon</h1>
            <h6><span>Al</span>ice Beslay</h6>
        </a>

        <ul class="topbar__nav">
            <li><a href="#projects">Projets</a></li>
            <li><a href="#apropos">A propos</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Header -->
    <header>
        <div class="header__container">
            <span class="circle"></span>
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </header>

    <!-- Projects -->
    <section id="projects" class="section__projects">
        <h3 class="section__title">Projets</h3>
        <div class="section__content">
            <a href="/project_page.html" class="project__card">
                <img src="images/aquarelle/img-aquarelle-1.jpg">      
                <span class="project__name">Aquarelle - Esquisse</span>
            </a>
            <a href="#" class="project__card">
                <img src="images/pavage/motif1-couleur1.jpg">  
                <span class="project__name">Pavage</span>
            </a>
        </div>
        <a class="projects__link" href="all_projects_page.html">Voir tous les projets</a>            
    </section>

    <!-- A propos -->
    <section id="apropos" class="section__apropos">
        <h3 class="section__title">A propos</h3>
        <div class="section__content">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a class="btn btn-red" download="images/img-aquarelle-1.jpg" href="#apropos">Télécharger mon cv</a>
            </div>
            <div></div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="section__contact">
        <h3 class="section__title">Contact</h3>
        <div class="section__content">
            <div>
                <span><img src="images/mail.svg"> Adresse Email</span>
                <p>contact@gmail.com</p>
            </div>
            <div>
                <span><img src="images/instagram.svg"> Instagram</span>
                <p>@loremipsum</p>
            </div>
            <div>
                <span><img src="images/phone.svg"> Numéro de téléphone</span>
                <p>OO OO OO OO OO</p>
            </div>
            <div>
                <span><img src="images/linkedin.svg"> Linkedin</span>
                <p>Lorem Ipsum</p>
            </div>
        </div>
        <form action="" class="contact__form">
            <input type="text" placeholder="Nom">
            <input type="email" placeholder="Adresse email">
            <input type="text" placeholder="Sujet">
            <textarea type="text" placeholder="Contenu"></textarea>
            <input class="btn btn-red" type="submit">
        </form>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; Alice - 2021 / 2022</p>
    </footer>

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>