<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al On The Moon</title>

    <!-- Font LINK -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS LINK -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Topbar -->
    <nav class="topbar">
        <a href="/index.html" class="topbar__logo">
            <h1><span>Al</span> on the moon</h1>
            <h6><span>Al</span>ice Beslay</h6>
        </a>

        <ul class="topbar__nav">
            <li><a href="/index.html#projects">Projets</a></li>
            <li><a href="/index.html#apropos">A propos</a></li>
            <li><a href="/index.html#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Project Description -->
    <section>
        <div class="project__description">
            <a href="images/aquarelle/img-aquarelle-1.jpg">
                <img src="images/aquarelle/img-aquarelle-1.jpg" class="project__principal__img">
            </a>
            <div class="project__body">
                <h3 class="section__title">Aquarelle - Esquisse</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut perspiciatis nam odio debitis vitae atque maiores repudiandae omnis fugiat eligendi beatae qui alias reprehenderit, in, nulla adipisci possimus repellendus voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus magni praesentium sed accusantium hic quis assumenda autem eligendi libero laudantium, exercitationem perferendis totam sit quia dolore, aspernatur nisi quod? Quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate est sit doloribus cupiditate iure libero aliquam non, quis quia, ex provident consequuntur totam ab accusamus laboriosam dolore, inventore nam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae assumenda quaerat, ut tempore expedita commodi tempora soluta deleniti officia maiores qui aspernatur a, voluptatibus praesentium cumque quisquam dolorum alias fugiat.</p>
            </div>
        </div>
        <div class="project__secondary__img">
            <a href="images/aquarelle/img-aquarelle-2.jpg">
                <img src="images/aquarelle/img-aquarelle-2.jpg">
            </a>
            <a href="images/aquarelle/img-aquarelle-3.jpg">
                <img src="images/aquarelle/img-aquarelle-3.jpg">
            </a>
            <a href="images/aquarelle/img-aquarelle-4.jpg">
                <img src="images/aquarelle/img-aquarelle-4.jpg">
            </a>
        </div>
    </section>    
    

    <!-- Footer -->
    <footer>
        <p>&copy; Alice - 2021 / 2022</p>
    </footer>

    <!-- Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <script src="js/lightbox.js" type="module"></script>
</body>
</html>