{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <!-- Project Description -->
    <section class="project__detail">
        <div class="project__header">
            <h3 class="section__title">{{ project.name }}</h3>
            <p>{{ project.description }}</p>
        </div>
        <div class="project__secondary__img">
            {% for image in project.projectsecondaryimage_set.all %}
                <a href="{{ image.image.url }}">
                    <img src="{{ image.image.url }}">
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}