/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.topbar {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  z-index: 10;
  display: block;
  position: fixed;
  background: #023047;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.topbar.sticky {
  padding: 0px 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #023047;
  transition: flex-direction 0.5s, justify-content 0.5s;
}
.topbar.sticky .topbar__logo {
  margin-bottom: 0px;
}
.topbar.sticky .topbar__logo h1 {
  padding: 0px;
}
.topbar.sticky .topbar__logo h6 {
  display: none;
}
.topbar .topbar__logo {
  margin-bottom: 20px;
}
.topbar .topbar__logo h1 {
  padding-top: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 60px;
  color: #ffb703;
}
.topbar .topbar__logo h1 span {
  font-weight: bold;
}
.topbar .topbar__logo h6 {
  color: white;
  font-size: 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar .topbar__logo h6 span {
  color: #ffb703;
}
.topbar .topbar__logo h6::before {
  width: 100%;
  height: 1px;
  margin-right: 10px;
  display: inline-block;
  content: "";
  background: white;
}
.topbar .topbar__logo h6::after {
  width: 100%;
  height: 1px;
  margin-left: 10px;
  display: inline-block;
  content: "";
  background: white;
}
.topbar .topbar__nav {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .topbar__nav a {
  padding: 5px 5px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 700;
  transition: 0.3s;
}
.topbar .topbar__nav a::after {
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  position: absolute;
  content: "";
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.topbar .topbar__nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}
header .header__container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(50px);
}
header .circle {
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffb703;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}
header .line1 {
  width: auto;
  height: 5px;
  left: 0px;
  top: 50%;
  background: #e56b6f;
  position: absolute;
  z-index: 6;
  transition: width 2s;
  animation: 2s line-anim1 forwards;
}
header .line2 {
  width: auto;
  height: 5px;
  left: 0px;
  top: 60%;
  background: #e56b6f;
  position: absolute;
  z-index: 1;
  transition: width 2s;
  animation: 2s line-anim2 forwards;
}
header .line3 {
  width: auto;
  height: 5px;
  right: 0px;
  top: 30%;
  background: #e56b6f;
  position: absolute;
  z-index: 1;
  transition: width 2s;
  animation: 2s line-anim3 forwards;
}

@keyframes line-anim1 {
  0% {
    width: 0px;
  }
  100% {
    width: 1200px;
  }
}
@keyframes line-anim2 {
  0% {
    width: 0px;
  }
  100% {
    width: 1400px;
  }
}
@keyframes line-anim3 {
  0% {
    width: 0px;
  }
  100% {
    width: 800px;
  }
}
.section__title {
  width: 100%;
  margin-bottom: 20px;
  color: white;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.section__title::after {
  width: 100%;
  height: 2px;
  margin-left: 20px;
  display: inline-block;
  content: "";
  background: #e56b6f;
}

.section__projects .section__content,
.section__allproject .section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.section__projects .project__card,
.section__allproject .project__card {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s;
}
.section__projects .project__card img,
.section__allproject .project__card img {
  width: auto;
  height: auto;
}
.section__projects .project__card .project__name,
.section__allproject .project__card .project__name {
  width: 100%;
  padding: 20px 40px;
  bottom: 20px;
  left: 0;
  background: #ffe5ec;
  font-weight: 700;
  text-transform: uppercase;
  color: #023047;
  z-index: 2;
  position: absolute;
}
.section__projects .project__card:hover,
.section__allproject .project__card:hover {
  box-shadow: 10px 10px 0px -2px #e56b6f;
}
.section__projects .projects__link,
.section__allproject .projects__link {
  width: auto;
  padding: 10px 0px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
.section__projects .projects__link::before, .section__projects .projects__link::after,
.section__allproject .projects__link::before,
.section__allproject .projects__link::after {
  width: 0px;
  height: 1px;
  display: inline-block;
  content: "";
  background: white;
  transition: width 0.3s;
}
.section__projects .projects__link::before,
.section__allproject .projects__link::before {
  margin-right: 5px;
}
.section__projects .projects__link::after,
.section__allproject .projects__link::after {
  margin-left: 5px;
}
.section__projects .projects__link:hover::before, .section__projects .projects__link:hover::after,
.section__allproject .projects__link:hover::before,
.section__allproject .projects__link:hover::after {
  width: 20px;
}

.section__allproject {
  padding-top: 230px;
}

.section__apropos .section__content {
  display: flex;
}
.section__apropos .section__content p {
  margin: 0px;
  display: block;
}
.section__apropos .section__content a {
  margin-top: 20px;
}
.section__apropos .section__content div:nth-child(1) {
  max-width: 50%;
}
.section__apropos .section__content div:nth-child(2) {
  width: 200px;
  height: 200px;
  margin: auto;
  display: inline-block;
  background: #ffe5ec;
  border-radius: 50%;
}

.section__contact .section__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.section__contact .section__content div span {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.section__contact .section__content div span img {
  width: 30px;
  margin-right: 10px;
}
.section__contact .section__content div p {
  font-weight: 200;
}
.section__contact .section__content div p::before {
  width: 60px;
  height: 1px;
  margin-bottom: 10px;
  display: block;
  content: "";
  background: white;
}
.section__contact .contact__form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.section__contact .contact__form input,
.section__contact .contact__form textarea {
  outline: none;
  border: 1px solid #e56b6f;
  background: transparent;
}
.section__contact .contact__form input[type=text],
.section__contact .contact__form input[type=email],
.section__contact .contact__form textarea {
  padding: 12px 20px;
  border: 1px solid #e56b6f;
  font-family: "Poppins", sans-serif;
  color: #e56b6f;
  transition: box-shadow 0.3s;
}
.section__contact .contact__form input[type=text]:placeholder-shown,
.section__contact .contact__form input[type=email]:placeholder-shown,
.section__contact .contact__form textarea:placeholder-shown {
  font-family: "Poppins", sans-serif;
}
.section__contact .contact__form input[type=text]::placeholder,
.section__contact .contact__form input[type=email]::placeholder,
.section__contact .contact__form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: #e56b6f;
  opacity: 0.6;
}
.section__contact .contact__form input[type=text]:focus,
.section__contact .contact__form input[type=email]:focus,
.section__contact .contact__form textarea:focus {
  box-shadow: 0px 0px 0px 2px #e56b6f;
}
.section__contact .contact__form input[type=submit] {
  background: #e56b6f;
}
.section__contact .contact__form textarea {
  max-height: 100%;
  grid-column: 2;
  grid-row: 1/5;
}

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thanks h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.thanks a {
  display: inline-block;
}

.project__description {
  margin-top: 180px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}
.project__description img {
  cursor: pointer;
}
.project__description .project__body p {
  font-weight: 200;
}

.project__secondary__img {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.project__secondary__img a {
  margin: 0px;
  display: flex;
}
.project__secondary__img img {
  width: auto;
  margin: 0px;
  align-self: center !important;
  justify-self: center !important;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.project__secondary__img img:hover {
  box-shadow: 0px 0px 0px 5px #e56b6f;
}

.lightbox {
  width: 100%;
  height: 100%;
  padding: 0px 6px;
  overflow: auto;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(2, 48, 71, 0.8);
  z-index: 20;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox button {
  cursor: pointer;
  text-indent: 3000px;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox .lightbox__next,
.lightbox .lightbox__prev {
  width: 50px;
  height: 100%;
  background: url("../images/arrow.svg") center center/16px 28px no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.6;
  z-index: 21;
}
.lightbox .lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox .lightbox__close {
  width: 50px;
  height: 50px;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 22;
  background: url("../images/close.svg") center center/15px 15px no-repeat;
}
.lightbox .lightbox__container {
  min-height: 100vh;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox .lightbox__container img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}
.lightbox .lightbox__loader {
  width: 60px;
  height: 60px;
  opacity: 0.6;
  background: url("../images/loader.svg") center center/100% 100% no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  width: 100%;
  height: 10vh;
  background: #e56b6f;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: #023047;
  text-transform: uppercase;
}

* {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden !important;
  background: #023047;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  border-radius: none;
  outline: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 12%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #e56b6f;
  border-radius: 10px;
}

.btn {
  width: auto;
  padding: 12px 20px;
  display: inline-block;
  color: #023047;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s;
}

.btn-red {
  background: #e56b6f;
}
.btn-red:hover {
  color: #ffe5ec;
  box-shadow: 5px 5px 0px -2px #ffe5ec;
}

/*# sourceMappingURL=main.css.map */
