:root {
  --padding-vertical: 12%;
}

* {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #023047;
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-weight: 300;
}

button {
  border: none;
  outline: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 12%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  border-radius: 0;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  padding: 12px 24px !important;
  background: #023047;
  border: 1px solid #e56b6f;
  outline: none;
  display: inline-block;
  color: #e56b6f;
  font-family: "Poppins", sans-serif;
  transition: box-shadow 0.3s;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
textarea::placeholder {
  color: rgba(229, 107, 111, 0.8);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #e56b6f;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #e56b6f;
  border-radius: 10px;
}

.button__primary {
  padding: 12px 24px;
  position: relative;
  display: inline-block;
  border: 0;
  background: inherit;
  color: inherit;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s;
}

.button__primary {
  background: #e56b6f;
  color: #023047;
}
.button__primary:hover {
  box-shadow: 3px 3px 0 0 white;
  color: white;
}

.navbar {
  width: 100%;
  padding: 20px var(--padding-vertical);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  background: #023047;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.navbar.sticky {
  padding: 10px var(--padding-vertical);
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
}
.navbar.sticky .navbar__brand {
  margin-bottom: 0;
}
.navbar.sticky .navbar__brand h1 {
  margin-bottom: 0;
}
.navbar.sticky .navbar__brand h2 {
  height: 0;
}
.navbar .navbar__brand {
  margin-bottom: 20px;
}
.navbar .navbar__brand h1 {
  font-size: 3.5em;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  color: #ffb703;
}
.navbar .navbar__brand h2 {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: height 0.3s;
}
.navbar .navbar__brand h2::before, .navbar .navbar__brand h2::after {
  width: 100%;
  height: 1px;
  content: "";
  background: white;
}
.navbar .navbar__brand h2::before {
  margin-right: 10px;
}
.navbar .navbar__brand h2::after {
  margin-left: 10px;
}
.navbar .navbar__menu {
  display: flex;
  justify-content: space-between;
}
.navbar .navbar__menu a {
  padding: 0 5px;
  margin: 0 20px;
  position: relative;
  text-transform: uppercase;
}
.navbar .navbar__menu a::after {
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  position: absolute;
  content: "";
  background: white;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.navbar .navbar__menu a:hover::after {
  transform: scale(1);
  transform-origin: left;
}
.navbar .navbar__toggle {
  height: 30px;
  display: none;
  cursor: pointer;
}
.navbar .navbar__toggle svg {
  width: 30px;
  height: 30px;
}

.header {
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .circle {
  --diametre: 350px;
  width: var(--diametre);
  height: var(--diametre);
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background: #ffb703;
  animation: round 0.3s forwards;
}
.header .line {
  width: 50%;
  height: 3px;
  position: absolute;
  background: #e56b6f;
  z-index: 1;
}
.header .line1 {
  transform: translateY(-100px);
  right: 0;
  animation: line_anim_1 1s forwards;
}
.header .line2 {
  z-index: 3;
  left: 0;
  animation: line_anim_1 1s forwards;
}
.header .line3 {
  width: 80%;
  transform: translateY(100px);
  left: 0;
  animation: line_anim_2 1s forwards;
}

@keyframes round {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: var(--diametre);
    height: var(--diametre);
  }
}
@keyframes line_anim_1 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes line_anim_2 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
section {
  min-height: 100vh;
  padding: 20px var(--padding-vertical);
  display: flex;
  flex-direction: column;
}
section h3 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
section h3::after {
  width: 100%;
  height: 3px;
  content: "";
  background: #e56b6f;
  margin-left: 10px;
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.projects__content {
  display: flex;
  flex-direction: column;
}
.projects__content .project__card {
  height: 500px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s;
}
.projects__content .project__card:hover {
  box-shadow: 5px 5px 0 0 #e56b6f;
}
.projects__content .project__card img {
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.projects__content .project__card span {
  width: 100%;
  padding: 20px 12%;
  bottom: 10px;
  position: absolute;
  background: #ffe5ec;
  color: #023047;
  font-size: 1.05em;
}
.projects__content a {
  margin-top: 20px;
}

.all__projects {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.project__detail .project__header {
  width: 50%;
  padding-right: 40px;
  margin-left: calc(50% + 20px);
  top: 30vh;
  left: 0;
  position: fixed;
}
.project__detail .project__secondary__img {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
}
.project__detail .project__secondary__img a {
  min-height: 60vh;
  margin: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}
.project__detail .project__secondary__img a:hover img {
  box-shadow: 0 0 0 3px #e56b6f;
}
.project__detail .project__secondary__img a img {
  transition: box-shadow 0.3s;
  width: 50%;
}

.about__content {
  display: grid;
  grid-template-columns: 60% 40%;
}
.about__content p {
  margin-bottom: 20px;
}
.about__content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  place-self: center;
}

.contact__content .contact__container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contact__content .contact__container .contact__item {
  padding: 20px 0;
}
.contact__content .contact__container .contact__item span {
  padding-bottom: 5px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
}
.contact__content .contact__container .contact__item span::after {
  width: 20%;
  height: 1px;
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  background: white;
}
.contact__content .contact__container .contact__item img {
  width: 20px;
  margin-right: 10px;
}
.contact__content .contact__container .contact__item p {
  font-size: 14px;
}
.contact__content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
.contact__content form textarea {
  grid-row: 1/5;
  grid-column: 2;
}
.contact__content form textarea::-webkit-resizer {
  visibility: hidden;
}

@media only screen and (max-width: 320px) {
  :root {
    --padding-vertical: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar .navbar__brand h1 {
    font-size: 2rem;
  }
  .navbar .navbar__menu {
    padding: 20px 40px;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    border: 1px solid #e56b6f;
    background: #023047;
    opacity: 0;
    pointer-events: none;
    transform: translateY(80%);
    transition: transform 0.3s, opacity 0.3s;
  }
  .navbar .navbar__menu.is-visible {
    transform: translateY(100%);
    opacity: 1;
    pointer-events: auto;
  }
  .navbar .navbar__menu a {
    padding: 0 5px;
    margin: 5px 0;
    display: block;
  }
  .navbar .navbar__toggle {
    display: inline-block;
  }

  .header .circle {
    --diametre: 300px;
  }

  section h3 {
    font-size: 2rem;
  }

  .projects__content .project__card {
    height: 300px;
  }

  .all__projects {
    display: flex;
    flex-direction: column;
  }

  .project__detail .project__header {
    width: 100%;
    bottom: 0;
    margin-left: 0;
    padding: 0 var(--padding-vertical);
    background: #023047;
  }
  .project__detail .project__header h3 {
    bottom: 0;
    cursor: pointer;
  }
  .project__detail .project__header p {
    height: 0;
    min-height: 0;
    overflow: hidden;
  }
  .project__detail .project__secondary__img a img {
    width: 100%;
  }

  .contact__content .contact__container {
    display: flex;
    flex-direction: column;
  }
  .contact__content form {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 10px 0;
  }
  .navbar.sticky {
    flex-direction: column;
    position: fixed;
  }

  .section__grid {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .about__content img {
    display: none;
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.lightbox {
  width: 100%;
  height: 100%;
  padding: 0px 6px;
  overflow: auto;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(2, 48, 71, 0.8);
  z-index: 20;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox button {
  cursor: pointer;
  text-indent: 3000px;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox .lightbox__next,
.lightbox .lightbox__prev {
  width: 50px;
  height: 100%;
  background: url("../images/arrow.svg") center center/16px 28px no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.6;
  z-index: 21;
}
.lightbox .lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox .lightbox__close {
  width: 50px;
  height: 50px;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 22;
  background: url("../images/close.svg") center center/15px 15px no-repeat;
}
.lightbox .lightbox__container {
  min-height: 100vh;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox .lightbox__container img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}
.lightbox .lightbox__loader {
  width: 60px;
  height: 60px;
  opacity: 0.6;
  background: url("../images/loader.svg") center center/100% 100% no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  width: 100%;
  height: 10vh;
  background: #e56b6f;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: #023047;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
